body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3333333; 
}
header {
    background: #333333;
    height: 80px;

}
h1 {
    color: #eee;
    font-size: 28px;
    text-align: center;

}
h2 {
    font-size: 24px;
    margin: 50px;
 
 
}
div container {
    width: 1024px;
    margin: 0 auto;
    align-items: center
}
#main-bio {
    float: left;
    width: 70%;
}
#bio-image {
    float: left;
    width: 200px;
    margin-left: 50px;
    margin-top: 1px;
}
#content-info {
    width: 30%;
    line-height: 42px;
    float: left;
}
:link {
    color: #d21034;
}
.container p{
   float: left;
   padding: 20px;

}